body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(gray, black);
}
h1{  
     font-family: "Courier New", monospace;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.644);;
}
div.encabezado{
    background-color: black;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

#carruselExample {
    max-width: 80%; 
    margin: 0 auto; 
}

.carousel-inner {
    position: relative;
    overflow: hidden; 
    height: 400px;
}
.carousel-item {
    justify-content: center; 
    align-items: center; 
    height: 100%; 
}

.carousel-item img {
    max-width: 100%;
    max-height: 100%; 
    object-fit: cover; 
}
@media (max-width: 1440px) {
    #carouselExample {
        max-width: 300%; 
    }
    .carousel-inner {
        max-height: 300px; 
    }
}

@media (max-width: 1024px) {
    #carouselExample {
        max-width: 300%; 
    }
    .carousel-inner {
        max-height: 250px; 
    }
}

@media (max-width: 768px) {
    #carouselExample {
        max-width: 300%; 
    }
    .carousel-inner {
        max-height: 200px; 
    }
}
div.Contenedor1{
    display: flex;
    text-align: justify;
    padding: 30px;
    font-family: "Courier New", monospace;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.644);
}

div.Contenedor2{
    display: flex;
    text-align: justify;
    padding: 20px;
    font-family: "Courier New", monospace;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.644);
}

div.caja-dere{
    flex: 1;
}

div.caja-dere img{
    width: 10px;
}

div.caja-izq{
    display: inline-block; 
    text-align: left; 
    margin: 20px; 
}

p.parrafo{
    font-size: 20px;
    margin-bottom: 20px; 
}

@media (max-width: 1024px){

    div.Contenedor1{
        flex-direction: column;
        align-items: flex-start;
    }

    div.Contenedor2{
        flex-direction: column;
        align-items: flex-start;
    }

    div.caja-dere{
        flex-direction: column;
    }

    div.caja-dere img{
        max-height: 10px; 
        object-fit: cover; 
    }

}

@media (max-width: 480px) {

    div.caja-derecha img{
        width: 1%;
    }

    div.caja-dere {
      order: -1;
    }

    img.imagen2{
        visibility: hidden;
    }
}
